/* styles for my week9 exercise */

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Georgia, monospace;
}

body {
    background:rgb(54, 50, 77);
}

h1, h2, h3 {
    color:beige;
    font-weight: normal;
}

a {
    color: lightpink;
}

header, footer {
    background: beige;
    height: 200px;
}

.success {
    float: left;
    padding: 10px;
    background: rgb(54, 50, 77);
}

.welcome-logout {
    float: right;
    padding: 10px;
    background: rgb(54, 50, 77);
}

#wrapper {
    clear: both;
    width: 940px;
    margin: 0 auto;
    color: beige;
}

footer {
    text-align: center;
    padding: 10px;
}

/* form style */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: rgb(54, 50, 77);
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: beige;
    border-color: rgb(54, 50, 77);
}

fieldset {
    padding: 10px;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: beige;
    border:beige;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.block {
    display:block;
    text-align: center;
    font-style: italic;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

.error {
    color: orange;
    font-size: italic;
    margin: 10px 0;
}

button {
    background-color: rgb(54, 50, 77);
    border: none;
    color: beige;
    padding: 5px;
}